    <p appLimitCharaters [sliceLength]="50">angular-directives works!angular-directives works! angular-directives works!angular-directives
        works!angular-directives works!angular-directives works!angular-directives works!angular-directives
        works!angular-directives works!angular-directives works!</p>
        <br>
        <br>
<!-- <p appLimitCharaters>{{'<a> prinkesha lathidadiya</a>'}}</p>
<p appLimitCharaters>{{'<span> prinkesha lathidadiya</span>'}}</p>
<p appLimitCharaters>{{'<span> <div>prinkesha lathidadiya</div></span>'}}</p> -->
