<div>
    <ul>
        <li>
            <a routerLink="students">students</a>
        </li>
        <li>
            <a routerLink="Product">product</a>
        </li>
        <li>
            <a routerLink="reactive-form">reactive-form</a>
        </li>
        <li>
            <a routerLink="pipes">pipes</a>
        </li>
        <li>
            <a routerLink="directive">directive</a>
        </li>
        <li>
            <a routerLink="role">role</a>
        </li>
        <li>
            <a routerLink="Department">Department</a>
        </li>
        <li>
            <a routerLink="DocumentTypes">DocumentTypes</a>
        </li>
        <li>
            <a routerLink="selction-directive">selction-directive</a>
        </li>
        <li>
            <a routerLink="directive-ng">directive-ng</a>
        </li>
        <li>
            <a routerLink="pipes-ng">pipes-ng </a>
        </li>
        <li>
            <a routerLink="OverTimeApplication">OverTimeApplication</a>
        </li>
        <li>
            <a routerLink="users">crud-user</a>
        </li>
    </ul>
</div>


<router-outlet></router-outlet>